*{box-sizing: border-box;}
body{
    overflow-y: hidden;
}
.navbar {
    height: 50px;
    width: auto;
    background-color: black;
    color: white;
    display:flex;
    align-items:center;

}

.navbar-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;

}
.navbar-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    

}
a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.huvud{
  position: relative;
  background-color: black;
  margin-top: 5px;

}

img{
    position: relative;
    padding-top: 5px;
    border-radius: 50%;
    padding: 10%;
    background-color: black;

}
.text{
    background-color: white;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 20%;
    padding-bottom: 100%;
    padding-left: 7%;
    font-size: 4vh;
    padding-right: 14%;
    font-weight: 700;

}
.undertext{
    position: absolute;
    top: 50%;
    right: 17%;
}

